*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: var(--c-1);
    background-color: var(--c-4);
}

:root{
    --c-1: #224f0f;
    --c-2: #7dc358;
    --c-3: #4f2f0b;
    --c-4: #ece9e5;
    --c-4-t: #ece9e54d;
    --c-5: #43a0bf;
    --c-6: #e03a33;

    --fs-title: 3.75rem;
    --fs-title-2: 2rem;
    --fs-subH: 1.75rem;
    --fs-subH-2: 1rem;
    --fs-BT: 1.2rem;

    --transition: 300ms ease;
}

/* fonts */
.italic{
    font-style: italic !important;
}
.bold{
    font-weight: 700;
}
.line{
    border-left: .13em var(--c-4) solid;
    padding: .25em .5em;
    height: fit-content;
    width: 100%;
}
.line-2{
    border-left: 1.5px var(--c-4) solid;
    padding: .25em .5em;
    height: fit-content;
    width: 100%;
}
.line-h{
    border-bottom: 1.55px var(--c-4) solid;
    padding: .25em .5em;
    height: fit-content;
    width: 20em;
}
a{
    color: var(--c-4);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.BT{
    font-family: "tablet-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-BT);
}

.title{
    font-family: "amifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-title);
    line-height: 0.9;
    padding: 0 !important;
    margin: 0 !important;
}
.title-2{
    font-family: "amifer", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--fs-title-2);
    line-height: 0.9;
}

.subH{
    font-family: "tablet-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-subH);
    line-height: 1.2;
}
.subH-2{
    font-family: "tablet-gothic", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: var(--fs-subH-2);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}

/* pages */
.landing{
    width: 100dvw;
    height: 100dvh;
    color: var(--c-4);
}

#desktop{
    display: block;
}
#mobile{
    display: none;
}

/* navigation */
nav{
    position: fixed;
    background-color: var(--c-4-t);
}
nav#desktop{
    width: 100%;
    height: fit-content;
    padding: 15px 40px 20px;
    border-bottom: .2em var(--c-4) solid;
}
nav#desktop .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: end;
    gap: .5em;
}

nav#mobile{
    width: 100%;
    height: fit-content;
    padding: 15px 20px;
    border-bottom: 5px var(--c-4) solid;
    z-index: 100;
}
nav#mobile .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#mobile .container .logo a{
    display: flex;
    align-items: center;
    gap: .5em;
    height: 20px;
}
nav#mobile .container .logo img{
    width: auto;
    height: 100%;
}

nav#mobile .container .menu{
    display: flex;
}
nav#mobile .container .menu .ham-menu{
    width: 40px;
    height: 20px;
    margin-left: auto;
    position: relative;
    z-index: 100;
}

nav#mobile .container .menu .ham-menu span{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
}
nav#mobile .container .menu .ham-menu span:nth-child(1){
    top: 0;
}
nav#mobile .container .menu .ham-menu span:nth-child(3){
    top: 100%;
}

nav#mobile .container .menu .ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
}
nav#mobile .container .menu .ham-menu.active span:nth-child(2){
    opacity: 0;
}
nav#mobile .container .menu .ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

.menu-open{
    background-color: var(--c-1);
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    right: -101dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: var(--transition);
    z-index: 50;
}
.menu-open.active{
    right: 0;
}

/* content */
header{
    width: 100dvw;
    height: 100dvh;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(4, calc((100dvw - 80px - 60px) / 4));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
header .container{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: end;
    width: 100%;
    height: auto;
}
header .container .text{
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 0;
    margin: 0;
}


.bg-img{
    background-image: url("https://i0.wp.com/www.nznatureguy.com/wp-content/uploads/2019/04/forest-3729279_1920.jpg?w=1512&ssl=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(2) brightness(0.4);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

/* media queres */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root{
        --fs-title: 26px;
        --fs-title-2: 18px;
        --fs-subH: 14px;
        --fs-subH-2: 12px;
        --fs-BT: 14px;
    }
    .line-h{
        width: 5em;
    }
    .line{
        border-left: 1.5px var(--c-4) solid;
        padding: .25em .5em;
        height: fit-content;
        width: 100%;
    }

    nav#desktop{
        display: none;
    }
    nav#mobile{
        display: block;
    }

    header{
        padding: 0 20px;
        grid-template-columns: repeat(4, calc((100dvw - 40px - 30px) / 4));
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
    header .container{
        grid-row: 3;
        grid-column-end: 5;
        align-items: start;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root{
        --fs-title-2: 1.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root{
        --fs-title-2: 2rem;
        --fs-BT: 1.4rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}