*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
    max-width: 100%;
}

body{
    color: var(--c-4);
    background-color: var(--c-4);
    height: fit-content;
}

:root{
    --c-1: #3b781a;
    /* --c-2: oklch(from var(--c-1) clamp(0, l + 0.22, 1) calc(c * 0.9)h); */
    /* --c-4-t: hsl(from var(--c-1) calc(h - 180) s l); */
    --c-3: oklch(from var(--c-1) clamp(0, l - 0.22, 1) calc(c * 0.9)h);
    /* --c-4-t: oklch(from var(--c-1) clamp(0, l + 0.22, 1) calc(c * 0.9)h); */
    
    /* --c-1: #224f0f; */
    /* --c-2: #7dc358; */
    /* --c-3: #4f2f0b; */
    --c-4-t: #ece9e54d;

    --c-4: #ece9e5;
    --c-5: hsl(from var(--c-1) calc(h - 180) s l);
    /* --c-5: #43a0bf; */
    --c-6: #e03a33;

    --fs-num: 4rem;
    --fs-title: 3.75rem;
    --fs-title-2: 2rem;
    --fs-subH: 1.75rem;
    --fs-subH-2: 1rem;
    --fs-BT: 1.2rem;

    --transition: 300ms ease;
}

/* fonts */
.bold{
    font-weight: 600 !important;
    letter-spacing: 1px;
}
.caps{
    text-transform: uppercase;
}

.line{
    border-left: .13em var(--c-4) solid;
    padding: .25em .5em;
    height: fit-content;
    width: 100%;
}
.line-h{
    border-bottom: 1.55px var(--c-4) solid;
    padding: .25em .5em;
    height: fit-content;
    width: 20em;
}

a{
    color: var(--c-4);
    text-decoration: none !important;
}
a:hover{
    text-decoration: underline;
}

.BT{
    font-family: "tablet-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-BT);
}
.des{
    font-family: "tablet-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-subH-2);
}

.title{
    font-family: "amifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-title);
    line-height: 0.9;
}
.title-2{
    font-family: "amifer", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--fs-title-2);
    line-height: 0.9;
}
.title-3{
    font-family: "amifer", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--fs-num);
    line-height: 0.9;
    margin: -6px 0 0;
}

.subH{
    font-family: "tablet-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-subH);
    line-height: 1.2;
}
.subH-2{
    font-family: "tablet-gothic", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: var(--fs-subH-2);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}

/* pages */
.landing{
    width: 100dvw;
    height: 100dvh;
    color: var(--c-4);
}

/* navigation */
nav{
    position: fixed;
    background-color: var(--c-4-t);
    width: 100%;
    height: fit-content;
    padding: 15px 20px;
    border-bottom: 5px var(--c-4) solid;
    z-index: 100;
    transition: var(--transition);
}
nav .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container .logo a{
    display: flex;
    align-items: center;
    gap: .5em;
    height: 20px;
}
nav .container .logo img{
    width: auto;
    height: 100%;
}

nav .container .menu{
    display: flex;
    align-items: center;
    gap: .5em;
}
nav .container .menu .ham-menu{
    width: 40px;
    height: 20px;
    margin-left: auto;
    position: relative;
    z-index: 100;
}

nav .container .menu .ham-menu span{
    width: 100%;
    height: 3px;
    background-color: var(--c-4);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
}
nav .container .menu .ham-menu span:nth-child(1){
    top: 0;
}
nav .container .menu .ham-menu span:nth-child(3){
    top: 100%;
}

nav .container .menu .ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
}
nav .container .menu .ham-menu.active span:nth-child(2){
    opacity: 0;
}
nav .container .menu .ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

.menu-open{
    background-color: var(--c-1); /* colour change? */
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    right: -101dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    transition: var(--transition);
    z-index: 50;
}
.menu-open.active{
    right: 0;
}

.menu-open .container{
    height: 100%;
    width: 100%;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.menu-open .container .card-group{
    height: fit-content;
    width: calc(100% - 80px);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.menu-open .container .card-group .card .content{
    text-align: center;
}

.menu-open .container section#nav-open .content{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 80px);
}
.menu-open .container section#nav-open .content .links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 1em;
}
.menu-open .container section#nav-open .content .about{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

/* content */
header{
    width: 100dvw; 
    height: 100dvh;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
header .container{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: end;
    width: 100%;
    height: auto;
}
header .container .text{
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 0;
    margin: 0;
}


.bg-img{
    background-image: url("https://i0.wp.com/www.nznatureguy.com/wp-content/uploads/2019/04/forest-3729279_1920.jpg?w=1512&ssl=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(2) brightness(0.4);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

/* information */
.info{
    height: 100%;
    width: 100%;
    color: var(--c-1) !important;
    padding: 20px 0;
}
.info .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50dvh;
    background-color: var(--c-4);
}
.info .container .text{
    height: fit-content;
}
.info .container .text .top{
    padding: 0 0 1.5em;
}
.info .container .text .top aside{
    display: flex;
    align-items: center;
    gap: .25em;
}

/* animal-nature */
.animal-nature:last-of-type{
    background-color: var(--c-3);
}
.animal-nature{
    height: 100%;
    min-height: 80dvh;
    padding: 2em 0;
    background-color: var(--c-1);
}
.animal-nature .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 80dvh;
    width: 100%;
    position: relative;
}

.animal-nature .container .about{
    position: relative;
}
.animal-nature .container .about h3{
    padding: .5em 20px 1em;
}
.animal-nature .container .about hr{
    width: calc(100% - 20px);
    position: absolute;
    right: 0;
}

/* carousel */
.animal-nature .container .carousel{
    position: relative;
}
.animal-nature .container .carousel .carousel-content{
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}
/* carousel cards */
.animal-nature .container .carousel .card{
    height: fit-content;
    width: 100%;
    padding: 0 0 1.25em;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(4, 25dvw);
    grid-template-rows: repeat(4, 10dvh);
    gap: 1em;
}
/* carousel image */
.animal-nature .container .carousel .card .image{
    width: 100dvw;
    position: relative;
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    scroll-snap-align: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.animal-nature .container .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    z-index: 1;
}
.animal-nature .container .card .image img#move-img{
    background-image: url('https://i0.wp.com/www.nznatureguy.com/wp-content/uploads/2019/08/Dacrycarpus_dacrydioides__Kahikatea_White_pine_.jpg?resize=640,480&ssl=1');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.animal-nature .container .card .image .credit{
    display: flex;
    justify-content: center;
    gap: 1em;
    grid-column: 1 / 4;
    grid-row: 3;
    z-index: 10;
    align-items: end;
    padding: 0 20px .5em;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.animal-nature .container .card .caption{
    padding: 0 20px;
    max-width: 100dvw;
    display: flex;
    flex-direction: column;
    gap: .5em;

    grid-column: 1 / 5;
    grid-row: 4;
}
.animal-nature .container .card .caption .banner{
    display: flex;
    width: 100%;
}
.animal-nature .container .card .caption .banner .content{
    display: flex;
    align-items: center;
    width: 100%;
}

.animal-nature .container .bottom{
    padding: .5em 0 0;
}
.animal-nature .container .bottom .des{
    padding: 0 20px 1em;
}
.animal-nature .container .bottom hr{
    width: calc(100% - 20px);
    position: absolute;
    left: 0;
}

/* footer */
footer{
    background-color: var(--c-4);
    height: 100%;
    min-height: 25dvh;
    width: 100%;
    margin: 5dvh 0 2.5dvh;
}
footer .container{
    color: var(--c-3) !important;
    padding: 20px;
    text-align: center;
}


/* media queres */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root{
        --fs-title: 26px;
        --fs-title-2: 18px;
        --fs-subH: 14px;
        --fs-subH-2: 12px;
        --fs-BT: 14px;
    }
    .line-h{
        width: 5em;
    }
    .line{
        border-left: 1.5px var(--c-4) solid;
        padding: .25em .5em;
        height: fit-content;
        width: 100%;
    }

    /* navigation */
    nav{
        position: fixed;
        background-color: var(--c-5);
        bottom: 20px;
        right: 20px;
    }
    nav{
        width: fit-content;
        height: fit-content;
        border-radius: 3em;
        padding: 15px 20px;
        border-bottom: none;
        z-index: 100;
    }
    nav .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    nav .container .logo{
        display: none;
    }
    nav .container .menu .ham-menu{
        width: 35px;
        height: 15px;
        margin-left: auto;
        position: relative;
        z-index: 100;
    }
    .menu-open .container section#nav-open .content{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 80px);
    }
    .menu-open .container section#nav-open .content .about{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 75%;
    }
    /* nav active */
    nav.active{
        right: 0;
        width: fit-content;
        height: fit-content;
        border-radius: 3em 0 0 3em;
        padding: 15px 20px;
        border-bottom: none;
        z-index: 100;
    }
    nav.active .container .menu .subH-2{
        display: none;
    }

    /* header */
    header{
        padding: 0 20px;
        grid-template-columns: repeat(4, calc((100dvw - 40px - 30px) / 4));
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
    header .container{
        grid-row: 3;
        grid-column-end: 5;
        align-items: start;
    }

    /* animal-nature */
    .animal-nature .container .card .caption .banner .content{
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 1em;
        width: 100%;
    }

    .animal-nature .container .card .caption{
        padding: 0 20px;
        max-width: 100dvw;
        display: flex;
        flex-direction: column;
        gap: .5em;
    
        grid-column: 1 / 5;
        grid-row: 4;
    }
    .animal-nature .container .card .caption .banner{
        display: flex;
        width: 100%;
    }
    .animal-nature .container .card .caption .banner .content{
        display: flex;
        align-items: center;
        width: 100%;
    }

    /* footer */
    footer{
        background-color: var(--c-4);
        height: 100%;
        min-height: 25dvh;
        width: 100%;
        margin: 3dvh 0 calc(90px);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root{
        --fs-title: 2.75rem;
        --fs-title-2: 1.5rem;
        --fs-subH: 1rem;
    }

    /* information */
    .info{
        padding: 2dvh 0;
    }
    .info .container .text .top{
        padding: 0 0 1.5em;
        width: 100%;
        max-width: 50dvw;
    }
    .info .container .text .top .title-3{
        font-size: 13vw;
        white-space: nowrap;
    }

    /* animal-nature */
    .animal-nature{
        height: 100%;
        min-height: 80dvh;
        padding: 0;
    }
    .animal-nature .container .about h3{
        padding: .5em 20px .4em;
    }
    /* content */
    .animal-nature .container .card .image .credit p:nth-child(2){
        display: none;
    }

    .animal-nature .container .carousel .card{
        height: fit-content;
        width: 100dvw;
        padding: 0 0 2em;
        flex-shrink: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 10dvh);
        gap: 1em;
        scroll-snap-align: center;
    }
    .animal-nature .container .carousel .card .image{
        width: 100%;
        position: relative;
        scroll-snap-align: none;
        
        grid-column: 3 / 5;
        grid-row: 1 / 5;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .animal-nature .container .card .caption{
        padding: 0 0 0 20px;
        max-width: 50dvw;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        gap: .5em;
    
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }
    
    .animal-nature .container .card .caption .banner{
        display: flex;
        width: 100%;
        height: fit-content;
    }
    .animal-nature .container .card .caption .banner .content{
        display: flex;
        align-items: center;
        width: 60dvw;
        justify-content: right;
        gap: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 920px) {
    .animal-nature .container .card .image .credit p:nth-child(2){
        display: block;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root{
        --fs-title-2: 2rem;
        --fs-BT: 1.4rem;
    }

    /* information */
    .info{
        padding: 5dvh 0;
    }
    .info .container .text .top .title-3{
        font-size: 10.5vw;
        white-space: nowrap;
    }

    /* animal */
    .animal-nature .container .carousel .card{
        height: fit-content;
        width: 65dvw;
        padding: 1em 0 1em 20px;
        flex-shrink: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 13dvh);
        gap: 1em;
        scroll-snap-align: none;
    }
    .animal-nature .container .carousel .card:last-of-type{
        padding: 1em 20px;
    }
    .animal-nature .container .carousel .card .image{
        width: 100%;
        position: relative;
        scroll-snap-align: center;
        
        grid-column: 1 / 5;
        grid-row: 1 / 4;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    /* carousel text */
    .animal-nature .container .card .caption{
        padding: 0 0 0 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        justify-content: space-between;
        gap: 1em;
    
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }
    .animal-nature .container .card .caption .BT{
        width: 100%;
        height: min-content;
    }
    .animal-nature .container .card .caption .banner{
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 50%;
        height: 100%;
    }
    .animal-nature .container .card .caption .banner .content{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: 1em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}